<% provide(:title, 'About Us') %>
<div class="container-fluid">
  <div class="row-fluid" style="background-color:#ffad00">
 	<div class="span2 text-center">
 		
 		<h4>About Us</h4> 
 	</div> 
  </div>
 <div>
<!-- phone list -->
<div class="container-fluid">
<div class="span6">
	<br/>
	
<p></br>
<b>TakeMyPhone</b> is a way of smarter consumption. We buy customer’s old smartphones and offer them high convenience and best price they can get anywhere in the market. In a fast developing country like India, with everyday changing trends and needs, there is nascent e-waste recycling industry. We at Take My Phone are working towards hassle-free recycling of e-waste. We find new homes for the repairable gadgets and recycle the dead ones and in the process, help the customer upgrade faster. </br></br>

We are backed by angel funding from <b>Axsiom PLC</b>.</br></br>
</p>

</div>
</div>