<% provide(:title, 'FAQs') %>
<div class="container-fluid">
  <div class="row-fluid" style="background-color:#ffad00">
 	<div class="span4 text-center">
 		
 		<h4>Frequently Asked Questions</h4>
 	</div> 
  </div>
 <div>
<div class="container-fluid">
<div class="span10">
	<br/>

<p>

<ol>
	<li><b>What items does TakeMyPhone buy?</b></br></br>We currently buy only selected smartphones. You can get a list of items we currently buy by going to TakeMyPhone.com by clicking on the drop down icon for “select your phone”.</li></br>
	<li><b>What do we do with the items we buy?</b></br></br>We believe in extending the life of the product and put it to reuse for as long as possible. We also take equal care of your privacy. All the phones are formatted before they are handed over to the next user.</li></br>
	<li><b>Do I need to remove the SIM card from my phone?</b></br>We recommend you to remove the SIM card from your phone before sending it to us for privacy reasons.</li></br>
	<li><b>What happens once I have sent in my item?</b></br></br>After we receive your phone, we check the accuracy of your evaluation and format the phone. Majority of phones pass through this stage. We send payment within 10 business days of receiving your phone. Throughout the process, we'll send you email updates to let you know the progress of your deal</li></br>
	<li><b>What happens if I disagree with the takemyphone's assessment or new offer?</b></br></br>We reassess your phone on the parameters that we put in the questionnaire you fill before sending. Majority of the phones make it through this stage. We reassess the value of the phones that don’t make it through this stage and notify the owner. If you disagree with our revised offer, we will gladly return your item to you on our dime. </br>In the revised offer email, there is a link which you can follow to accept or decline the new offer. If there is no response from your side within 5 days, we assume you are fine with the revised offer and we move to the next stage. Once the 5 day deadline passes, we will not be able to recover your item for you so it's important that you decline the new offer within the 5 day period.</br>If you need help accepting or declining a revised offer, feel free to reach us. The team can also answer any questions you may have about the new offer and even accept or decline it on your behalf.
</li></br>
</ol>

</p>

</div>
</div>
