<% provide(:title, 'How We Work') %>
<div class="container-fluid">
  <div class="row-fluid" style="background-color:#ffad00">
 	<div class="span2 text-center">
 		
 		<h4>How We Work</h4> 
 	</div> 
  </div>
 <div>
<div class="container-fluid">
<div class="span6">
	<br/>

<p></br>

Selling your old phone is now a simple 4 step process :</br></br>
<ol>
	<li><b>Get an offer</b> : Select your phone model from a set, answer a few quick questions and get the best offer.</li></br>
	<li><b>Get your phone picked up</b> : Once you confirm an order for the price quoted by us, a pickup will be initiated. Once picked up you can use the order ID given to you for tracking status of order. 
</li></br>
	<li><b>Get Paid</b> : Once we receive your item, it will be evaluated by a trained member of our team. Agreed amount is then wired to you through bank transfer, cheque or any other method you are convenient with.</li>
</ol></br>

</p>

</div>
</div>