<footer class="footer">
  
<div class="container-fluid">
<div class="row-fluid" style="background-color:#ffad00">
				<div class="span12">
					<div class="span2 offset1" style="width: 15%;">
						<ul class="unstyled">
							<li><h5><u>PHONES</u></h5><li>
							<li><a href="/phones/apple" style="color:black">Apple</a></li>
							<li><a href="/phones/nokia" style="color:black">Nokia</a></li>
							<li><a href="/phones/samsung" style="color:black">Samsung</a></li>
							<li><a href="/phones/blackberry" style="color:black">Blackberry</a></li>
							<li><a href="/phones/htc" style="color:black">HTC</a></li>
						</ul>
					</div>
					<div class="span2" style="width: 15%;">
						<ul class="unstyled">
							<li><h5><u>COMPANY</u></h5><li>
							<li><a href="/about" style="color:black">About</a></li>
							<li><a href="/how_we_work" style="color:black">How we Work</a></li>
							<li><a href="/contact_us" style="color:black">Contact us</a></li>
							<li><a href="/terms_conditions" style="color:black">Terms/Conditions</a></li>			
							<li><a href="/privacy" style="color:black">Privacy Policy</a></li>				
						</ul>
					</div>
					<div class="span2" style="width: 15%;">
						<ul class="unstyled">
							<li><h5><u>SUPPORT</u></h5><li>
							<li><a href="#" style="color:black">Login/Register</a></li>
							<li><a href="#" style="color:black">Phone status</a></li>
							<li><a href="/faq" style="color:black">FAQ</a></li>
							<li><a href="/payments" style="color:black">Payments</a></li>
							<li><a href="/cancellations" style="color:black">Cancellations & Returns</a></li>		
						</ul>
					</div>
					<div class="span2 offset1 text-right" style="width: 15%;">
						<ul class="unstyled">
							<li><h5><u>KEEP IN TOUCH</u></h5></li>
							<li><h4>+91 91234 87654</h4></li>
							<li><h5>info@takemyphone.com</h5></li>
							<li>
								<a href="https://www.facebook.com/TakeMyPhone" target="_blank"><%= image_tag 'facebook.png' %></a> <a href="#"><%= image_tag 'twitter.png' %></a> <a href="#"><%= image_tag 'google_plus.png' %></a>
							</li>		
						</ul>
					</div>
				</div>
			</div>
			<div class="row-fluid" style="background-color:#000000">
				<div class="span12">
					<div class="span3 offset4 text-center">
						<h6 style="color:#ffad00">&#169 2013 takemyphone.  
						<a href="/terms_conditions" style="color:white">Terms</a> : <a href="/privacy" style="color:white">Privacy</a></h6>
					</div>
				</div>
			</div>
  </div>
  
</footer>